<!DOCTYPE html>
<head>
  <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Tweets</h1>

  <%= render @tweets %>
</body>
</html>