<div class="d-flex align-items-center justify-content-center">
  <h1>About Twitter Manager</h1>
</div>
<div>
  <p class="center-text">
    This application is designed to allow users to schedule tweets to be scheduled 
    from one of their Twitter accounts. Users may have multiple accounts linked to their
    user account. If a user would not like to create an account, they may use
    Google login as well.
  </p>
  <br/>
  <%= image_tag 'ruby_small.jpg', class: 'center-image' %>
</div>