/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .btn-l-padding {
   padding-left: 5px;
 }

 .bold {
   font-weight: bold;
 }

 @import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');

.cont{
  font-family: 'Besley', serif;
  overflow: hidden;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.digitalClock{
  width: fit-content;
  padding: 5px;
  border-radius: 50%;
  color: black;
  background: conic-gradient(from -.5turn at bottom right, deeppink, cyan, rebeccapurple);
}

.digitalClock h1{
  display: inline-block;
  margin: 0 2px;
  font-weight: bold;
  font-size: 1rem;
}
